---
import { SupportedProviders } from "unpic";
import DocsLayout from "../../layouts/DocsLayout.astro";

const providers = Object.entries(SupportedProviders).sort((a, b) =>
  a[1].localeCompare(b[1])
);
---

<DocsLayout
  title="Providers"
  headings={[]}
  description={`Unpic supports ${providers.length} image providers, so there's a good chance your favorite provider is supported!`}
>
  <p>
    Unpic can transform images using all of these services, with type-safe
    operations and config options. A lot of others services use these under the
    hood and can often also be detected. For example, most CMSs use Imgix and
    will work with no configuration.
  </p>
  <h3>Supported Providers</h3>
  <p>
    Click on the link to see all supported transform operations and config
    options for each provider.
  </p>
  <ul>
    {
      providers.map(([id, name]) => (
        <li>
          <a href={`/providers/${id}`}>{name}</a>
          <br />
          Provider:
          <code>
            <a href={`/providers/${id}`}>{id}</a>
          </code>
        </li>
      ))
    }
  </ul>
</DocsLayout>
